.RecipeCardContainer{


    .css-o69gx8-MuiCardMedia-root{

            height: 7rem;
            object-fit: cover;

    }


.CardContainer{


width: 10rem;
border-radius: 35px;
height: 12.2rem;

h3{

    font-size: 0.8rem;
}

}

}