.InputTextContainer{


display: flex;
justify-content: flex-end;

margin-bottom: 4rem;

.search-btn{

display: flex;
align-items: center;
justify-content: center;
justify-items: center;


.MuiSvgIcon-root{

font-size: 2rem ;

}



.css-155nyw6-MuiButton-endIcon{

    margin: 0;

}

}



}