.toolbar {

background-color: white;

h2 {

    color: #FF69B4
}


a {

text-decoration: none;
color: black;
margin-left: 1rem;


&:hover {

    color: #FF69B4;

}

}


.LinksContainer{

display: flex;
justify-content: space-between;
align-items: center;


}
}