.toolbar {
  background-color: white;

  h2 {
    color: #ff69b4;
  }

  a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;

    &:hover {
      color: #ff69b4;
    }
  }

  .LinksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
